.button-container {
    position: relative;
    width: 300px; /* Container width */
    overflow: hidden; /* Prevents the button from expanding outside the container */
  }
  
  .button {
    background-color: #ffffff00; /* Primary background color */
    color: #ffffff; /* Text color */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px; /* Adjust padding as needed */
    border-radius: 8px; /* Rounded corners */
    border-color: green;
    transition: width 0.3s ease, transform 0.3s ease; /* Transition effect */
    width: calc(100% - 20px); /* Initial width */
    margin-left: 40px; /* Margin to center the button */
    border: none; /* Remove default border */
    cursor: pointer; /* Change cursor to pointer */
  }
  
  .button:hover {
    width: calc(100% + 100px); /* Increase width by 100px on hover */
    transform: scale(1.05);
    margin-right: calc(100% + 100px); /* Optional: scale effect on hover */
  }
  